<div class="video-with-recap" [ngClass]="style">
  <div class="style-buttons">
    <button
      type="button"
      *ngFor="let s of styles"
      (click)="changeStyle(s)"
      [ngClass]="{ active: style === s }"
    >
      {{ s }}
    </button>
  </div>

  <div class="container">
    <div
      class="video"
      (click)="toggleRecap()"
      [ngClass]="{ active: !isRecapVisible }"
    >
      <img src="/assets/video-placeholder.jpg" alt="" srcset="" />
    </div>
    <div class="recap" [ngClass]="{ active: isRecapVisible }">
      <p class="recap-copy">
        Lorem ipsum dolor sit amet
        <a href="" class="pill">consectetur adipisicing elit.</a> Tempore optio
        nemo necessitatibus ratione <a href="#" class="pill">possimus</a>,
        nulla, odio pariatur facere omnis ex aspernatur saepe?
      </p>
      <div class="recap-ctas">
        <button class="recap-cta pill" type="button" (click)="hideRecap()">
          Replay
        </button>
        <button class="recap-cta pill" type="button">
          Explore more stories
        </button>
      </div>
    </div>
  </div>
</div>
