<div class="video-with-recap">
  <div class="video">
    <img src="/assets/video-placeholder.jpg" alt="" srcset="" />
  </div>
  <div class="recap">
    <p class="recap-copy">
      Lorem ipsum dolor sit amet
      <a href="">consectetur adipisicing elit.</a> Tempore optio nemo
      necessitatibus <a href="#">ratione possimus</a>, nulla, odio pariatur
      facere omnis ex aspernatur saepe? Ab vitae fugiat tempora praesentium qui,
      sit doloremque!
    </p>
    <div class="recap-ctas">
      <button class="recap-cta">Replay</button>
      <button class="recap-cta">Explore more stories</button>
    </div>
  </div>
</div>
