<div class="video-with-recap">
  <div class="container">
    <div class="video">
      <img src="/assets/video-placeholder.jpg" alt="" srcset="" />
    </div>
    <div class="recap">
      <p class="recap-copy">
        Lorem ipsum dolor sit amet
        <a href="" class="pill">consectetur adipisicing elit.</a> Tempore optio
        nemo necessitatibus ratione <a href="#" class="pill">possimus</a>,
        nulla, odio pariatur facere omnis ex aspernatur saepe?
      </p>
      <div class="recap-ctas">
        <button class="recap-cta pill">Replay</button>
        <button class="recap-cta pill">Explore more stories</button>
      </div>
    </div>
  </div>
</div>
